<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/pure/2.0.0/base-context-min.css"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="map.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css"
      integrity="sha512-RLEjtaFGdC4iQMJDbMzim/dOvAu+8Qp9sw7QE4wIMYcg2goVoivzwgSZq9CsIxp4xKAZPKh5J2f2lOko2Ze6FQ=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css"
      integrity="sha512-BBToHPBStgMiw0lD4AtkRIZmdndhB6aQbXpX7omcrXeG2PauGBl2lzq2xUZTxaLxYz5IDHlmneCZ1IJ+P3kYtQ=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <div class="choose">
        <h1>口罩查詢地圖</h1>
        <h2>{{day}}</h2>

        <select v-model:value="itemCounty" v-on:change="changeC">
          <option></option>
          <option v-for="item in county">{{item}}</option>
        </select>
        <select
          v-model:value="towns"
          v-if="itemCounty!==''"
          v-on:change="changeT"
        >
          <option v-for="item in changeStr">{{item}}</option>
        </select>
        <input
          v-on:keyup.enter="enterName"
          v-model:value="itemName"
          type="text"
          name=""
          id=""
          placeholder="請輸入藥局名稱"
        />
      </div>
      <div class="result">
        <div v-for="item in list">
          <h1>藥局名稱:{{item.name}}</h1>
          <div class="masks">
            <div>成人口罩： 剩餘{{item.mask_adult}}個</div>
            <div>兒童口罩： 剩餘{{item.mask_child}}個</div>
          </div>
          <h3>地址：{{item.address}}</h3>
          <h3 style="display: inline-block">電話：{{item.phone}}</h3>
          <tel :items="item.phone"></tel>
        </div>
      </div>
    </div>

    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.1/vue.common.dev.js"></script>
    <script src="./test2.js"></script>
    <script src="map.js"></script>
  </body>
</html>
