<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/pure/2.0.0/base-context-min.css"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <style>
      html,
      body {
        height: 100%;
        width: 100%;
      }
      #map {
        float: right;
        height: 100%;
        width: 70%;
      }
      #app {
        float: left;
        height: 100%;
        width: 30%;
      }
      .choose {
        display: flex;
        align-items: center;
        flex-direction: column;
        float: none;
        height: 50%;
        background-color: darkcyan;
        color: white;
      }
      h1,
      h2,
      select,
      input {
        display: block;
        margin: 10px;
      }
      select,
      input {
        width: 70%;
        height: 30px;
        font-size: large;
      }
      .result {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
      }
      h3 {
        clear: both;
      }
      .masks > div {
        display: inline;
        width: 40%;
        float: left;
        background-color: lightseagreen;
        border-radius: 10%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
      }
      .result {
        overflow-y: auto;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css"
      integrity="sha512-RLEjtaFGdC4iQMJDbMzim/dOvAu+8Qp9sw7QE4wIMYcg2goVoivzwgSZq9CsIxp4xKAZPKh5J2f2lOko2Ze6FQ=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css"
      integrity="sha512-BBToHPBStgMiw0lD4AtkRIZmdndhB6aQbXpX7omcrXeG2PauGBl2lzq2xUZTxaLxYz5IDHlmneCZ1IJ+P3kYtQ=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <div class="choose">
        <h1>口罩查詢地圖</h1>
        <h2>{{day}}</h2>

        <select v-model:value="itemCounty" v-on:change="changeC">
          <option></option>
          <option v-for="item in county">{{item}}</option>
        </select>
        <select
          v-model:value="towns"
          v-if="itemCounty!==''"
          v-on:change="changeT"
        >
          <option v-for="item in changeStr">{{item}}</option>
        </select>
        <input
          v-on:keyup.enter="enterName"
          v-model:value="itemName"
          type="text"
          name=""
          id=""
          placeholder="請輸入藥局名稱"
        />
      </div>
      <div class="result">
        <div v-for="item in list">
          <h1>藥局名稱:{{item.name}}</h1>
          <div class="masks">
            <div>成人口罩： 剩餘{{item.mask_adult}}個</div>
            <div>兒童口罩： 剩餘{{item.mask_child}}個</div>
          </div>
          <h3>地址：{{item.address}}</h3>
          <!--增加地圖api-->
          <h3 style="display: inline-block">電話：{{item.phone}}</h3>
          <tel :items="item.phone"></tel>
        </div>
      </div>
    </div>

    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.1/vue.common.dev.js"></script>
    <script src="./test2.js"></script>
    <script>
      var map;
      var marker;
      var list;
      var newList;

      //ajax取資料
      var XML = new XMLHttpRequest();
      XML.addEventListener("load", show);
      XML.open(
        "GET",
        "https://raw.githubusercontent.com/kiang/pharmacies/master/json/points.json"
      );
      XML.send(null);
      function show() {
        list = XML.responseText;
        newList = JSON.parse(list);
      }

      //地圖載入
      function maps() {
        map = L.map("map", { center: [25.0249211, 121.5075035], zoom: 16 });
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
          attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }).addTo(map);
      }

      var redIcon = new L.Icon({
        iconUrl:
          "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png",
        shadowUrl:
          "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png",
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41],
      });
      var orangeIcon = new L.Icon({
        iconUrl:
          "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-orange.png",
        shadowUrl:
          "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png",
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41],
      });

      var markers = [];
      function mapp(name, coordinatesA, coordinatesB, ad, ch) {
        if (ad && ch) {
          marker = new L.marker([coordinatesA, coordinatesB]);
        } else if (ad === 0 && ch !== 0) {
          marker = new L.marker([coordinatesA, coordinatesB], {
            icon: redIcon,
          });
        } else {
          marker = new L.marker([coordinatesA, coordinatesB], {
            icon: orangeIcon,
          });
        }

        markers.push(marker);
        marker
          .addTo(map)
          .bindPopup(
            `<h2 style="color:green">${name}</h2><p>大人口罩${ad},小孩口罩${ch}</p>`
          );
        marker.openPopup();
      }

      function clear() {
        var myGroup = L.layerGroup(markers);
        map.addLayer(myGroup);
        myGroup.clearLayers();
      }
      maps();

      //時間獲取
      var today = new Date();

      var rightNow = "";
      var yr = String(today.getFullYear());
      var mh = String(today.getMonth());
      var de = String(today.getDate());
      var hr = String(today.getHours());
      var me = String(today.getMinutes());
      rightNow = yr + "年" + mh + "月" + de + "日" + hr + "點" + me + "分";

      //把選擇欄做出來
      var newNote = note.features;
      var countys = [];
      for (var i = 0; i < newNote.length; i++) {
        countys.push(newNote[i].properties.county);
      }
      var newCountys = countys.filter(function (ele, index, self) {
        return self.indexOf(ele) === index && ele !== "";
      });

      var vm = new Vue({
        el: "#app",
        data: {
          itemCounty: "",
          tels: "",
          day: rightNow,
          county: newCountys,
          itemCounty: "",
          itemName: "",
          towns: "",
          list: [],
        },

        components: {
          tel: {
            props: ["items"],

            computed: {
              tail: function () {
                return this.items.slice(4);
              },
              head: function () {
                return this.items.slice(2, 3);
              },
              all: function () {
                return "tel:+886-" + this.head + "-" + this.tail;
              },
            },

            template: `<a :href="all"><i class="fas fa-phone-volume"></i></a>`,
          },
        },

        computed: {
          today: function () {
            return today.toLocaleDateString();
          },

          changeStr: function () {
            var itemCArr = [];
            var notes = note.features;
            for (var i = 0; i < notes.length; i++) {
              if (this.itemCounty === notes[i].properties.county) {
                itemCArr.push(notes[i].properties.town);
              }
            }

            var itemCArrs = itemCArr.filter(function (ele, index, self) {
              return self.indexOf(ele) === index && ele !== "";
            });

            return itemCArrs;
          },
        },
        methods: {
          enterName: function () {
            //item2縣市===features的然後push物件 選擇縣市之後會列出 b選擇後改變c 而且c是[{},{},{}]
            //不能用newnote
            var itemCArr = [];
            var notes = newList.features;
            for (var i = 0; i < notes.length; i++) {
              if (
                this.itemName === notes[i].properties.name.replace("藥局", "")
              ) {
                itemCArr.push({
                  address: notes[i].properties.address,
                  name: notes[i].properties.name,
                  phone: notes[i].properties.phone,
                  mask_adult: notes[i].properties.mask_adult,
                  mask_child: notes[i].properties.mask_child,
                });
                mapp(
                  notes[i].properties.name,
                  notes[i].geometry.coordinates[1],
                  notes[i].geometry.coordinates[0],
                  notes[i].properties.mask_adult,
                  notes[i].properties.mask_child
                );
              }
            }
            this.list = itemCArr;
          },
          changeC: function () {
            clear();
            var itemCArr = [];
            var notes = newList.features;
            for (var i = 0; i < notes.length; i++) {
              if (this.itemCounty === notes[i].properties.county) {
                itemCArr.push({
                  address: notes[i].properties.address,
                  name: notes[i].properties.name,
                  phone: notes[i].properties.phone,
                  mask_adult: notes[i].properties.mask_adult,
                  mask_child: notes[i].properties.mask_child,
                });
                mapp(
                  notes[i].properties.name,
                  notes[i].geometry.coordinates[1],
                  notes[i].geometry.coordinates[0],
                  notes[i].properties.mask_adult,
                  notes[i].properties.mask_child
                );
              }
            }

            this.list = itemCArr;
          },
          changeT: function () {
            //itemCounty縣市===features然後push物件
            //不能用newnote
            clear();
            var itemCArr = [];
            var notes = newList.features;
            for (var i = 0; i < notes.length; i++) {
              if (this.towns === notes[i].properties.town) {
                itemCArr.push({
                  address: notes[i].properties.address,
                  name: notes[i].properties.name,
                  phone: notes[i].properties.phone,
                  mask_adult: notes[i].properties.mask_adult,
                  mask_child: notes[i].properties.mask_child,
                });
                mapp(
                  notes[i].properties.name,
                  notes[i].geometry.coordinates[1],
                  notes[i].geometry.coordinates[0],
                  notes[i].properties.mask_adult,
                  notes[i].properties.mask_child
                );
              }
            }

            this.list = itemCArr;
          },
        },
        mounted() {
          show();
        },
      });
    </script>
  </body>
</html>
